@model SiddharthJasapara_550.Model.Model.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginBody.cshtml";
}

<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="~/Scripts/toastr.js"></script>

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            <form class="user" method="post">
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.role, new List<SelectListItem>
                                    {
                                          new SelectListItem { Text = "Admin", Value = "Admin" },
                                          new SelectListItem { Text = "Supplier", Value = "Supplier" }
                                    }, "Select Role", new { @class = "form-control rounded-pill" })
                                </div>
                                @Html.ValidationMessageFor(model => model.role, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control rounded-pill", @placeholder = "Enter Email Address..." } })
                                </div>
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control rounded-pill", @placeholder = "Enter Password..." } })
                                </div>
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                <input type="submit" class="btn btn-primary rounded-pill w-100" value="Login" />
                            </form>
                            <hr />
                            <div class="text-center">
                                <a class="small" href="~/Login/Register">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["added"] != null)
{
    <script>
        toastr.success("@TempData["added"]")
    </script>
}

@if (ViewBag.invalid != null)
{
    <script>
        toastr.error("@ViewBag.invalid")
    </script>
}

@if (ViewBag.fill != null)
{
    <script>
        toastr.error("@ViewBag.fill")
    </script>
}